@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';

.titre{
    @include titre(); 
}

.form {
    @include form();
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.product-image{
    max-width: 400px;
    border-radius: 20px;

    &__delete{
        @include button(#82291D);
        align-self: center;
    }
}