@import 'src/styles/_variables.scss';
@import 'src/styles/_mixin.scss';

.titre{
    @include titre(); 
}

.form {
    @include form();
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__tab{
        width: 50%;
        margin-right: 20px;
    }

}