<header class="header">
    <img class="header__img" src="assets/logo_blanc.png" alt="Logo">
</header>

<form class="forget-password" [formGroup]="form" (ngSubmit)="send()">
    <img class="forget-password__img" src="assets/logo_noir.png" alt="logo">
    <input class="forget-password__item" type="email" formControlName="email" placeholder="Email">
    <p class="forget-password__error" *ngIf="form.get('email')?.errors?.['email'] && isSendForm">Il faut un email valide</p>
    <input class="forget-password__submit" type="submit" value="Envoyer">
    <p class="forget-password__error" *ngIf="isConnexionError">Email doit être renseigné</p>
</form>