// ---------------------------- COLOR ---------------------------- //
$black : #161616; 
$black_dark : #1F232B;
$black_light: #3C4452;
$grey_dark : #989898; 
$grey : #BCBCBC; 
$grey_light: #cdcdcd; 
$white_dark: #E7E7E7; 
$white: #FCFCFD; 

$main-color : #1BA8A8; 
$main-color-background : #1ba8a842; 
$bleu: #395CE8; 
$green : #32BA7C; 
$red : #D90033;
$orange : #EA5730; 



$height-menu : 10vh; 

$width-menu : 276px;