<div class="ligne-action">
    <p (click)="onDelete()" class="ligne-action__supprimer" [ngClass]="{'ligne-action__supprimer--red': tabSelected.size > 0}">  
        <svg class="ligne-action__poubelle" [ngClass]="{'ligne-action__poubelle--red': tabSelected.size > 0}" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M9 3h6v-1.75c0-.066-.026-.13-.073-.177-.047-.047-.111-.073-.177-.073h-5.5c-.066 0-.13.026-.177.073-.047.047-.073.111-.073.177v1.75zm11 1h-16v18c0 .552.448 1 1 1h14c.552 0 1-.448 1-1v-18zm-10 3.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5v12c0 .276.224.5.5.5s.5-.224.5-.5v-12zm5 0c0-.276-.224-.5-.5-.5s-.5.224-.5.5v12c0 .276.224.5.5.5s.5-.224.5-.5v-12zm8-4.5v1h-2v18c0 1.105-.895 2-2 2h-14c-1.105 0-2-.895-2-2v-18h-2v-1h7v-2c0-.552.448-1 1-1h6c.552 0 1 .448 1 1v2h7z"/></svg> {{tabSelected.size}} élément<ng-container *ngIf="tabSelected.size > 1">s</ng-container> à supprimer</p>

    <a [routerLink]="linkForForm+'/nouveau'" class="ligne-action__ajouter">+</a>
    
</div>
<table class="table">
    <thead class="table__head">
        <tr class="table__ligne table__ligne--header">
            <th class="item__checkbox"></th>
            <th *ngFor="let column of columns" [ngClass]="{'item--cache-mobile': column.visibleMobile === false}" class="item--head">{{column.nom}}</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr *ngFor="let ligne of data" class="table__ligne table__ligne--body" [routerLink]="linkForForm+'/'+ligne.id">
            <td class="item__checkbox"><input type="checkbox" class="table__checkbox" (click)="onChecked($event, ligne.id)"></td>
            
            <td *ngFor="let column of columns" [ngClass]="{'item--cache-mobile': column.visibleMobile === false}" class="item--body">
                <p *ngIf="column.type === 'boolean'">{{(ligne[column.nameAttribut] == true)?'Oui': 'Non'}}</p>
                <p *ngIf="column.type !== 'boolean'">{{ligne[column.nameAttribut]}}</p>
                
            </td> 
        </tr>
    </tbody>
</table>