<app-go-back></app-go-back>
<h1 class="titre" > Ajout de produit </h1>

<button class="btn__creer" (click)="create()">Créer un nouveau porduit</button>
<p *ngIf="products.length == 0" class="product"> Il n'y a pas de produits à assigner à un rayon. </p>
<ul class="product">
    <li *ngFor="let product of products" [routerLink]="'/department/'+id_department+'/product/'+product.id" class="product-item">
        <input type="checkbox" name="product" id="product" class="product-item__checkbox" (click)="onChecked($event, product.id)">
        <img [src]="product.image" alt="{{product.name}}" class="product-item__image">
        <p class="product-item__name">{{product.name}} - {{product.price}} € </p>
    </li>
</ul>

<div class="btn"> 
    <button class="btn__annuler" (click)="goBack()">Annuler</button>
    <button class="btn__valider" (click)="confirm()">Valider</button>
</div>